= render 'show', :trip => @latest_trip if @latest_trip.present?

%h2 Other Trips

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @trips.each do |trip|
    %tr
      %td= trip.name
      %td= link_to 'Show', trip
      %td= link_to 'Edit', edit_trip_path(trip)
      %td= link_to 'Destroy', trip, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Trip', new_trip_path
