!!!
%html
  %head
    = stylesheet_link_tag "application"
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    %title
      Where Have You Been?

    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .row
      .span-24.spacer

    .row
      .span-6
      .span-12
        .title
          %h1
            = yield :title

      .span-2
      .span-4.last
        = link_to "Sign Out", '#'
        %br
        = link_to "Sign In", '#'
        %br
        = link_to "Sign Up", '#'
          
    .row
      .span-24.spacer
    .row
      .span-24.spacer

    .row
      = yield
